/* You can add global styles to this file, and also import other style files */

.container-bg{
    background-image: url('assets/images/container-bg.jpg'); /* Set the background image */
    background-size: cover; /* Ensure the image covers the entire card */
    background-position: center; /* Center the image */
  }